<section class="my-6">
  <owl-carousel-o [options]="mainOptions">
    <ng-template carouselSlide>
      <img src="/images/ms-1.avif" class="w-full" alt="main slider 1" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-2.avif" class="w-full" alt="main slider 2"
    /></ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-3.avif" class="w-full" alt="main slider 3"
    /></ng-template>
    <ng-template carouselSlide>
      <img src="/images/ms-4.avif" class="w-full" alt="main slider 4"
    /></ng-template>
  </owl-carousel-o>
</section>
