/* ========== Start Animation Slider Style ==========*/
@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1440px 0;
  }
}

.animate-slide {
  animation: slide 10s linear infinite;
  -webkit-animation: slide 10s linear infinite;
}
/* ========== End Animation Slider Style ==========*/
