<footer class="bg-gray-200 px-10 pt-5 text-center sm:text-left">
  <div class="container max-w-screen-xl mx-auto">
    <h2 class="mb-3 text-2xl">Get The FreshCart App</h2>
    <p class="text-gray-500 text-sm mb-3">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="sm:flex items-center gap-3 sm:text-nowrap">
      <input
        type="email"
        class="w-full rounded-lg border-gray-300 focus:border-[var(--main-color)] focus:ring-0 mb-3 sm:mb-0"
        placeholder="Email"
      />
      <button class="btn-main w-full sm:w-fit">Share App Link</button>
    </div>

    <hr class="mt-5 text-gray-400" />

    <div class="pay-links-details sm:flex justify-between items-center my-5">
      <div class="pay-details lg:flex lg:gap-2">
        <h3 class="h6">Payment Partners</h3>
        <div class="flex items-center justify-center gap-3">
          <img src="/images/amazon-pay.png" width="50px" alt="amazon pay" />
          <img
            src="/images/American-Express-Color.png"
            width="50px"
            alt="American Express"
          />
          <img src="/images/paypal.png" width="50px" alt="Paypal" />
          <img src="/images/mastercard.webp" width="50px" alt="MasterCard" />
        </div>
      </div>

      <div class="Download-links mt-5 lg:flex lg:gap-2 items-center">
        <h3 class="h6">Get Deliveries with FreshCart</h3>
        <div class="flex items-center justify-center gap-2 mt-1">
          <img
            src="/images/get-google-play.png"
            width="100px"
            alt="Google Play"
            class="cursor-pointer"
          />
          <img
            src="/images/get-apple-store.png"
            width="100px"
            alt="Apple Store"
            class="cursor-pointer"
          />
        </div>
      </div>
    </div>

    <hr class="mt-5 text-gray-400" />
    <div class="py-5 text-center">
      <p>
        &copy;2025 <span class="text-[var(--main-color)]">Paula Aied</span> All
        Rights Reserved
      </p>
    </div>
  </div>
</footer>
